@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>


<form asp-action="SignUp" method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input class="form-control" asp-for="Login">
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email адрес</label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
     <div class="mb-3">
        <label for="Password" class="form-label">Пароль</label>
        <input class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="PasswordConfirm" class="form-label">Подтвердите пароль</label>
        <input class="form-control" asp-for="PasswordConfirm">
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <button asp-action="SignUp" class="btn btn-primary">Зарегистрироваться</button>
</form>