@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Добро пожаловать в демо проект</h1>
    <h4>Отображение брендов и моделей</h4>
    <h4>Добавленна аутентификация через JWT и даже работает</h4>
    <h5>Возможные доработки:</h5>
    <p>-различного рода визуальные улучшения</p>
    <p>-внедрение паттерна репозиторий чтобы можно было проще перейти с EF на dapper</p>
    <p>-доработка логики работы с пользователями</p>
</div>
